<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Pokemons</title>
  </head>
  <body>
    <h1>Minha Pokédex</h1>

    <ul>
      {% for pokemon in pokemons %}
      <li>
        <h2>{{ pokemon.nome|title }}</h2>

        {% if pokemon.imagemUrl %}
        <img src="{{ pokemon.imagemUrl }}" alt="Imagem de {{ pokemon.nome }}" />
        {% else %}
        <p>(Sem imagem)</p>
        {% endif %}

        <p>Tipo: {{ pokemon.tipo }}</p>
        <hr />
      </li>
      {% empty %}
      <li>Sua Pokédex está vazia.</li>
      {% endfor %}
    </ul>

    <a href="{% url 'criarPokemons' %}">Capturar Novo Pokémon</a>
    <a href="{% url 'home' %}">Voltar para a home</a>
  </body>
</html>
